* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{
    background-color: #A99572;
    height: 300vh;
}

#parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#text{
    position: relative;
    color: #fff;
    z-index: 1;
    font-size: 10em;
}
p{
    color: #fff;
    width: 900px;
}
.container-about{
  margin: 100px 5%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
}
.wrap-img img{
    width: 100%;
}
.wrap-img{
    width: 100%;
}
.card-one{
    width: 28%;
    background-color: bisque;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-card button{
    padding: 12px 20px;
    background-color: #4c6fff;
    color: white;
    border-radius: 12px;
    border: none;
}
.text-card{
    padding: 12px;
}
.text-card p{
    margin: 12px 0;
    color: gray;
    width: 300px;
}